
/* ------------------------- */
@import url("https://fonts.googleapis.com/css?family=Rubik:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:900&display=swap");
/* ------------------------- */

*{
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  min-width: 20rem;
  line-height: 1;
}

a{
  color: inherit;
  text-decoration: none;
}

ul li{
  list-style: none;
}

img{
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

/* ------------------------- */
body{
  font-family: Rubik;
  font-weight: 400;
  font-size: 0.875rem;
  color: #646D70;
}

.wrapper{
  min-width: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.main{
  flex: 1 1 auto;
}

/* ------------------------- */
[class*="__container"]{
  max-width: 52.5rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

/* ------------------------- */
.title{
  font-family: Merriweather;
  font-size: 1.875rem;
  line-height: 130%;
  color: #fff;
}

@media (max-width:47.9988em) {
  .title{
    font-size: 1.5rem;
  }
}

.title--dark{
  color: #222F33;
}

.header{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  transition: .5s ease;
}

.header--active{
  background-color: #222F33;
  transition: .5s ease;
}

.header__container{
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  min-height: 6.5625rem;
}

.header__logo{
  overflow: hidden;
}

.header__logo img{
  width: 8.4375rem;
}

.header__body{
  display: flex;
  align-items: center;
  column-gap: 2.6875rem;
}


.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2.5rem;
  row-gap: 0.625rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
}


.menu__link:hover{
  text-decoration: underline;
}

.header__button{
  padding: 0.625rem 1.3125rem;
  background-color: #fff;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
}

.header__button:hover{
  background-color: rgb(222, 222, 222);
  /* color: #fff; */
}

.main__section{
  min-height: 100vh;
  position: relative;
  display: flex;
}

.main-section__image{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
}

.main-section__image img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.main-section__container{
  padding-top: 5.625rem;
  padding-bottom: 3.125rem;
  position: relative;
  z-index: 2;
  grid-template-columns: 54.320988% 1fr;
  align-items: center;
  display: grid;
  flex: 1 1 auto;
}

.main-section__video-link{
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
}
.main-section__video-link::before{
  content:'';
  width: 2rem;
  height: 2rem;
  flex: 0 0 2rem;
  border-radius: 50%;
  background: url('../img/main/play.svg') left no-repeat;
}


.main-section__label{
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}
.main-section__label:not(:last-child){
  margin-bottom: 0.75rem;
}

.main__section-img{
  opacity: 0.7;
}

@media (max-width: 39.0625em) {
  .header__logo{
    flex: 0 0 2.0625rem;
  }

  .header__container{
    min-height: 70px;
  }

  .header__body{
    column-gap: 1.25rem;
  }
  
  .header__button{
    padding: 0.625rem 0.9375rem;
  }
  
  .menu__list{
    column-gap: 1.25rem;
    font-size: 14px;
  }
}

@media (max-width: 43.75rem) {
  .main-section__container{
    grid-template-columns: auto;
    align-content: center;
    gap: 20px;
  }
  .main-section__image img{
    opacity: 0.6;
  }
}

@media (min-width: 43.75rem) {
  .main-section__video-link{
    justify-self: center;
  }
}

.swiper {
  overflow: hidden;
}

.swiper-initialized{
  touch-action: pan-y;
}

.swiper-wrapper {
  display: flex;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
}

.material {
  position: relative;
  z-index: 2;
}

.material::before{
  content: "";
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  height: 2.3125rem;
  transform: translate(0px, -100%);
  width: 61.7%; 
}

.material::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 8.75rem;
  background-color: #222f33;
  width: 38.3%; /* 383px/1000 */
}

.material__container {
  display: flex;
  position: relative;
  padding-bottom: 1.25rem;
  z-index: 2;
  gap: 4.6875rem;
}

.material__content {
  padding-top: 1.375rem;
}

.material__title{
  margin-bottom: 0.8125rem;
}

.material__text-p {
  line-height: 1.625rem;
  margin-bottom: 1.4375rem;
}
.material__more {
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 0.25rem;
  border: 0.0625rem solid #646D70;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.625rem;
  transition: background-color .5s ease;

}

.material__more:hover{
  background-color: #222F33;
  transition: background-color .5s ease;
  color: #fff;
}

.material__slider {
  transform: translate(0, -20.765027%);
  position: relative;
  min-width: 20.125rem;
}

.material__slider img{  
  margin-right: auto;
  margin: 0;;
}

.slider-material__slide {
  aspect-ratio: 325 / 366;
  position: relative;
}

.slider-material__slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.slider-material__pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  padding: 0 0.3125rem 1rem 0.3125rem;
}

.slider-material__pagination .swiper-pagination-bullet{
  flex: 0 0 0.5rem;  
  height: 0.5rem;
  background-color: #fff;
  opacity: 0.4;
  transition: opacity .5s;
  border-radius: 50%;
  cursor: pointer;
}

.slider-material__pagination .swiper-pagination-bullet-active{
  opacity: 1;
}

.innovatie{
  background-color: #222F33;
}

.innovatie__inner{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2.6875rem;
  padding: 4.5rem 0 5rem 0;
  color: #fff;
  font-weight: 400;
  line-height: 1.5rem;
}

.innovatie__title{
  padding-bottom: 0.5rem;
}

.innovatie__text{
  opacity: 0.7;
}

.about__content{
  display: flex;
  justify-content: space-between;
  padding: 5.3125rem 0 5.3125rem 0;
  gap: 4.6875rem;
}

.about__text{
  display: grid;
  grid-template-columns: auto auto;
  gap: 2.3125rem 3.75rem;
}

.about__title{
  color: #222F33;
  font-family: Merriweather;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 900;
  padding-bottom: 0.25rem;
}

.about__title-text{
  font-size: 0.75rem;
  line-height: 1.375rem;
}

@media (max-width: 51.875em) {
  .about__content{
    flex-wrap: wrap;
    justify-content: center;
  }
}


@media (max-width: 47.9988em) {
  .material__container{
    display: grid;
    grid-template-columns: auto;
    gap: 2.5rem;
  }
  .material__slider{
    transform: translate(0, 0);
  }
  .material::before{
    display: none;
  }
  .material::after{
    /* display: none; */
  }
}

